body {
	background: #BDBDBD;
	font-family: "Segoe UI", "Consolas", "Helvetica", monospace;
}

h1 {
	font-weight: 300;
}

ul {
	list-style: none;
	font-size: 12pt;
	line-height: 2em;
	padding: 0;
}

p, .jumbotron p {
	font-size: 12pt;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.company-img:hover {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	padding: 3px 0px 3px 3px;
	margin: 5px 1px 3px 0px;
	border: 1px solid rgba(81, 203, 238, 1);
}
